.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

.textInput {
  margin-bottom: 32px;
  width: 600px;
  height: 100px;
}

.buttonContainer {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .formContainer {
    align-items: stretch;
  }

  .textInput {
    width: 100%;
  }
}
