.titulo {
  display: flex;
  justify-content: center;
}

.divItem {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.item {
  border: 2px solid black;
  width: 200px;
  height: 400px;
  margin: 2%;
}

.item img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
