/* .titulo {
  display: flex;
  justify-content: center;
} */
.titulo {
  background-image: url("https://res.cloudinary.com/da2zg5p95/image/upload/v1682893954/FuACKXyWYAA37Jq_tbalvs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 60px 0;
  text-align: center;

  background-position: center 30%;
}
.divItem {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  background-image: url("https://res.cloudinary.com/da2zg5p95/image/upload/v1682893826/FlWj0IrWQAEdCR5_xilvbr.jpg");
  background-repeat: repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .divItem {
    flex-direction: column;
    align-items: center;
  }
}

.item {
  width: 200px;
  height: 340px;
  margin: 2%;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

.item img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
